[Unit]
Description=Apache Cassandra (RC)
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=ubuntu
Group=ubuntu
WorkingDirectory={{ cassandra_install_dir }}
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
ExecStart={{ cassandra_install_dir }}/bin/cassandra -p /run/cassandra.pid
ExecStop={{ cassandra_install_dir }}/bin/nodetool stopdaemon
Restart=on-failure
RestartSec=10
LimitNOFILE=100000

[Install]
WantedBy=multi-user.target
